@import "tailwindcss";
@import 'react-datepicker/dist/react-datepicker.css';
@import 'react-calendar/dist/Calendar.css';


:root {
  color-scheme: light;
  --background: #f8f8f8;
  --foreground: #2c3e50;
  --font-body: 'Montserrat', sans-serif;
  --nav-bg:   #92a9b3;     /* your light-blue base color */
  --nav-dot:  #a0b4bb;
}

@theme inline {
  --color-background: #f8f8f8;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --color-primary: #f2c6a0;
  --color-secondary: #4fd1c6;
  --color-accent-blue: #0259a8;
  --color-light-blue: #96BBE0;
  --color-accent-orange: #f4a261;
  --color-support-pink: #efbfc2;
  --color-neutral-dark: #2C3E50;
  --color-grey: #91a7b2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

@layer utilities {
  .nav-pattern {
    /* base color */
    background-color: var(--nav-bg);

    /* horizontal + vertical white hairlines */
    background-image:
      linear-gradient(to right, var(--nav-dot) 1px, transparent 1px),
      linear-gradient(to bottom, var(--nav-dot) 1px, transparent 1px);

    /* size of each “square cell” */
    background-size: 20px 20px;
  }
}
